#field td:hover {
    background-color: gainsboro;
}

#header {
    width: auto;
    font-size: 36pt;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.preferences {
    font-size: 24pt;
    padding: 10px;
    font-weight: bold;
    width: 23%;
    padding-left: 30px;
}

@keyframes to_red {
    0% {
        background-color: transparent;
        width: 20%;
        height: 20%;
        border-radius: 100%;
    }

    100% {
        background-color: red;
        width: 100%;
        height: 100%;
        border-radius: 6%;
    }
}

@keyframes to_whitesmoke {
    0% {
        background-color: red;
        width: 100%;
        height: 100%;
        border-radius: 6%;
    }

    100% {
        background-color: transparent;
        width: 20%;
        height: 20%;
        border-radius: 100%;
    }
}

#field td {
    background-color: whitesmoke;
    border: 2px solid dodgerblue;
    border-radius: 6px;
}

.cell_red {
    margin: auto;
    animation-name: to_red;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.cell_whitesmoke {
    margin: auto;
    animation-name: to_whitesmoke;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#field {
    margin: auto;
    border-collapse: collapse;
}

.color_button {
    box-sizing: border-box;
    color: white;
    text-align: center;
    border-radius: 6px;
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

#start_button {
    background-color: lightgreen;
    border: 2px solid lightgreen;
}

#pause_button {
    background-color: gold;
    border: 2px solid gold;
}

#clear_button {
    background-color: skyblue;
    border: 2px solid skyblue;
}

#start_button:hover {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: start;
    animation-iteration-count: 1;
}

#pause_button:hover {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: pause;
}

#clear_button:hover {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: clear;
}

.ongoing {
    background-color: lightgreen;
    border: 2px solid lightgreen;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-name: ongoing;
}

@keyframes start {
    0% {
        background-color: lightgreen;
        color: white;
    }

    100% {
        background-color: white;
        color: lightgreen;
    }
}

@keyframes ongoing {
    0% {
        background-color: lightgreen;
        color: white;
    }

    50% {
        background-color: white;
        color: lightgreen;
    }

    100% {
        background-color: lightgreen;
        color: white;
    }
}

@keyframes pause {
    0% {
        background-color: gold;
        color: white;
    }

    100% {
        background-color: white;
        color: gold;
    }
}

@keyframes clear {
    0% {
        background-color: skyblue;
        color: white;
    }

    100% {
        background-color: white;
        color: skyblue;
    }
}

a {
    color: whitesmoke;
}

.sbutton {
    border-radius: 0;
    font-size: 20pt;
    font-weight: 600;
    padding: 0;
    width: 20%;
}

.sbutton:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.sbutton:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.shareDiv {
    margin-top: 30px;
}

.shareButton {
    margin-top: 0;
}

.desc {
    height: 120px;
}
