.author {
    font-size: 20pt;
    color: black;
    width: 27%;
}

.description {
    font-size: 16pt;
    color: black;
    width: 55%;
    text-align: left;
}

.load {
    font-size: 24pt;
    font-weight: bold;
}

.center {
    border-radius: 0;
}

.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
